html {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

button {
  padding: 0.25rem 1rem;
}

#n {
  position: absolute;
  left: 43%;
}

#s {
  position: absolute;
  bottom: 5px;
  left: 43%;
}

#w {
  position: absolute;
  top: 50%;
}

#e {
  position: absolute;
  top: 50%;
  right: 7px;
}

[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

[data-tooltip='Left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translateY(-50%) rotate(-90deg);
}

[data-tooltip='Above']::before {
  left: 50%;
}

[data-tooltip='Below']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(-100%) rotate(-180deg);
}

[data-tooltip='Right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translateY(-50%) rotate(90deg);
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  text-align: center;
  background-color: #2385f1;
  padding: 4px 2px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  color: white;
}

[data-tooltip='Left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[data-tooltip='Above']::after {
  left: 50%;
}

[data-tooltip='Below']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}

[data-tooltip='Right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
}
